@{
    ViewData["Title"] = "Home Page";
}

@if(User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
    <form asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="Ելք" class="btn btn-danger"/>
    </form>
}else
{
    <a asp-controller="Account" asp-action="Login" class="btn btn-secondary col-md-2">Մուտք Գործել</a><br /><br />
    <a asp-controller="Account" asp-action="Register" class="btn btn-secondary col-md-2">Գրանցվել</a>
}
