
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

<h2>Մոռացված գաղտնաբառի վերականգնում</h2>
<p>
    Խնդրում ենք ստուգել ձեր էլ․ փոստը։ Գաղտնաբառի վերականգնման ինստրուկցիան կցված է նամակին։
</p>

