
@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Ձեր գաղտնաբառը փոփոխվել է։ Խնդրում ենք <a asp-action="Login">մոտւք գործելու համար սեղմել այստեղ</a>.
</p>

